@mixin variations($name, $color, $color-darker) {
  &--#{$name} {
    background-color: $color;
    border-color: $color-darker;

    &:hover, &--active {
      &:not([disabled]) {
        background-color: $color-darker;
        border-color: $color-darker;
      }
    }
  }
}

.button {
  margin: 0;
  padding: 0.35rem .55rem;
  min-height: 2.4rem;
  width: auto;
  overflow: visible;
  background-color: rgba(36, 37, 36, 0.476);
  border: .1rem solid rgba(101, 99, 99, 0.875);
  font-size: 1rem;
  color: white;
  border-radius: var(--button-radius-size);

  display: flex;
  justify-content: start;
  align-items: center;

  &:not([disabled]) {
    cursor: pointer;
  }

  &-content {
    flex-grow: 1;
    flex-shrink: 0;
    text-align: left;
  }

  &-addon {
    flex-grow: 0;
    flex-shrink: 0;
  }

  &-group {
    display: flex;
    & > .button {
      flex: 1 1 0px;
      justify-content: center;
      border: none;
    }
    :not(:first-child) {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
    :not(:last-child) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

  }

  &--square {
    padding: 0.55rem .75rem;
    display: flex;
    justify-content: center;
    align-content: center;
    width: var(--button-square-size);
    height: var(--button-square-size);
    font-size: 1.5rem;

    svg {
      width: 100%;
      height: 100%;
    }
  }

  &--block {
    display: block;
    width: 100%;
  }

  &:hover, &--active {
    &:not([disabled]) {
      background-color: var(--primary-color);
      border-color: var(--primary-color-transparent);
    }
  }

  &[disabled]{
    cursor: not-allowed;
    opacity: .8;
  }

  @include variations('secondary', var(--background-lighter-color), var(--background-color));
  @include variations('info', var(--info-color), var(--info-darker-color));
  @include variations('success', var(--success-color), var(--success-darker-color));
  @include variations('warning', var(--warning-color), var(--warning-darker-color));
  @include variations('danger', var(--error-color), var(--error-darker-color));

  &--pill {
    border-radius: 9999px;
  }
}
