$border-radius: .25rem;
.tab-navigator {
    display: flex;
    justify-content: center;
    align-items: center;

    background: var(--background-lighter-color);;
    border-radius: $border-radius;

    .button {
        border: 0;
        background: transparent;
        padding: 0.35rem 0.75rem;
        overflow: hidden;
        border-radius: $border-radius;

        &:hover{
            border:0;
        }

        &:not(.tab-navigator__previous):not(.tab-navigator__next){
            border-top: .3rem solid transparent;
            border-bottom: .3rem solid transparent;
            &.button--active {
                border-bottom-color: var(--primary-color);
                background: transparent;
            }
        }


        &.tab-navigator__previous,
        &.tab-navigator__next {
            .keystroke {
                margin:0;
            }
        }

        &:not(:first-child) {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
        &:not(:last-child) {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
    }

    &--expanded {
        .button {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-grow: 1;
        }
    }
}
