.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  padding: 1rem;
  background-color: var(--color-primary);
  color: var(--color-white);
  border-radius: 0.5rem;
  box-shadow: 0 0 1rem 0.5rem var(--color-primary-dark);
  overflow: hidden;
}
