.select-field {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;
    padding: 0.5rem 1rem 0.5rem 1rem;
    height: 1.5rem;

    background: rgba(#12151a, 0.6);
    border: 0.1rem solid #12151a;
    border-radius: var(--border-radius);
    color: white;
    font-size: 0.9rem;
    cursor: pointer;

    &__placeholder {
        color: rgba(white, 1);
        font-style: italic;
        font-weight: 300;
        width: 100%;
    }

    &__choices-wrapper {
        animation: popOptions 0.1s ease both;
        border-radius: 0.5rem 0.5rem 0 0;
        bottom: 105%;
        left: -0.1rem;
        position: absolute;
        right: -0.1rem;

        z-index: 2;
    }

    &--bottom {
        .select-field__choices-wrapper {
            top: 105%;
            position: absolute;
        }
    }

    &__choices {
        background: rgba(#12151a, 1);
        border-radius: var(--border-radius);
        max-height: 20vh;
        overflow-y: auto;
        filter: var(--drop-shadow);
    }

    &__choice {
        color: rgba(white, 0.5);
        padding: 0.6rem 1rem;
        transition: all ease 0.1s;
        cursor: pointer;

        &:first-child {
            border-radius: var(--border-radius) var(--border-radius) 0 0;
        }

        &:hover {
            background-color: rgba(white, 0.1);
            color: rgba(white, 0.9);
            text-indent: 0.2rem;
        }
    }
}
